<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<string>aberrant</string>
<string>aberration</string>
<string>abjure</string>
<string>aboveboard</string>
<string>abrogate</string>
<string>abstain</string>
<string>abstruse</string>
<string>abysmal</string>
<string>access</string>
<string>accolade</string>
<string>acerbic</string>
<string>acme</string>
<string>acrimony</string>
<string>adamant</string>
<string>adequate</string>
<string>adjudicate</string>
<string>admonish</string>
<string>admonitory</string>
<string>advocate</string>
<string>aesthete</string>
<string>aesthetic</string>
<string>affable</string>
<string>affluent</string>
<string>afford</string>
<string>alacrity</string>
<string>altruism</string>
<string>amalgam</string>
<string>ambiguous</string>
<string>ambivalent</string>
<string>ameliorate</string>
<string>amenable</string>
<string>amiable</string>
<string>amok</string>
<string>amorphous</string>
<string>amply</string>
<string>anachronism</string>
<string>analogous</string>
<string>anathema</string>
<string>anemic</string>
<string>animosity</string>
<string>anodyne</string>
<string>anomalous</string>
<string>anomaly</string>
<string>antedate</string>
<string>antic</string>
<string>antipathy</string>
<string>antiquated</string>
<string>antithetical</string>
<string>apathetic</string>
<string>apathy</string>
<string>apex</string>
<string>aphorism</string>
<string>aphoristic</string>
<string>aplomb</string>
<string>apocryphal</string>
<string>apogee</string>
<string>apostate</string>
<string>apothegm</string>
<string>apotheosis</string>
<string>appease</string>
<string>appreciable</string>
<string>apprehension</string>
<string>approbatory</string>
<string>appropriate</string>
<string>appurtenant</string>
<string>arbitrary</string>
<string>arcane</string>
<string>arch</string>
<string>archaic</string>
<string>arduous</string>
<string>arrant</string>
<string>arriviste</string>
<string>arrogate</string>
<string>artful</string>
<string>artifice</string>
<string>artless</string>
<string>artlessness</string>
<string>ascendancy</string>
<string>ascetic</string>
<string>ascribe</string>
<string>askance</string>
<string>asperity</string>
<string>assail</string>
<string>assiduously</string>
<string>assuage</string>
<string>atavism</string>
<string>attenuate</string>
<string>audacious</string>
<string>audacity</string>
<string>augment</string>
<string>auspicious</string>
<string>austere</string>
<string>autocratic</string>
<string>autonomously</string>
<string>avarice</string>
<string>avaricious</string>
<string>avert</string>
<string>avid</string>
<string>badger</string>
<string>baleful</string>
<string>balk</string>
<string>banal</string>
<string>banality</string>
<string>banish</string>
<string>base</string>
<string>bastardization</string>
<string>beatific</string>
<string>becoming</string>
<string>beg</string>
<string>begrudge</string>
<string>behooves</string>
<string>belie</string>
<string>belittle</string>
<string>bellicose</string>
<string>belligerent</string>
<string>bemoan</string>
<string>benighted</string>
<string>benign</string>
<string>bereft</string>
<string>besiege</string>
<string>besmirch</string>
<string>besotted</string>
<string>betray</string>
<string>bilious</string>
<string>blatant</string>
<string>bleak</string>
<string>blinkered</string>
<string>bolster</string>
<string>boon</string>
<string>boorish</string>
<string>bowdlerize</string>
<string>brazen</string>
<string>bridle</string>
<string>bristle</string>
<string>broadside</string>
<string>bromide</string>
<string>brook</string>
<string>browbeat</string>
<string>brusquely</string>
<string>buck</string>
<string>bucolic</string>
<string>bumbling</string>
<string>burgeon</string>
<string>buttress</string>
<string>byzantine</string>
<string>cadaverous</string>
<string>callow</string>
<string>calumny</string>
<string>canard</string>
<string>candid</string>
<string>candidness</string>
<string>capacity</string>
<string>capitulate</string>
<string>capricious</string>
<string>cardinal</string>
<string>carping</string>
<string>castigate</string>
<string>cataclysm</string>
<string>catalyst</string>
<string>catholic</string>
<string>cavalier</string>
<string>cede</string>
<string>celerity</string>
<string>censor</string>
<string>censor</string>
<string>censure</string>
<string>cerebral</string>
<string>chagrin</string>
<string>champion</string>
<string>charlatan</string>
<string>chary</string>
<string>chastise</string>
<string>chastise</string>
<string>chauvinism</string>
<string>chauvinist</string>
<string>check</string>
<string>checkered</string>
<string>chimera</string>
<string>chivalrous</string>
<string>choleric</string>
<string>chortle</string>
<string>churlish</string>
<string>circumscribe</string>
<string>circumvent</string>
<string>clemency</string>
<string>coalesce</string>
<string>cogent</string>
<string>cohesive</string>
<string>collusion</string>
<string>colossal</string>
<string>commendable</string>
<string>commensurate</string>
<string>complacent</string>
<string>complaisant</string>
<string>complementary</string>
<string>complicit</string>
<string>compound</string>
<string>concede</string>
<string>conciliate</string>
<string>concomitant</string>
<string>conducive</string>
<string>conflagration</string>
<string>conflate</string>
<string>confound</string>
<string>conniving</string>
<string>conniving</string>
<string>consecrate</string>
<string>conspicuous</string>
<string>constituent</string>
<string>constraint</string>
<string>construe</string>
<string>consummate</string>
<string>contemptuous</string>
<string>contentious</string>
<string>contingent</string>
<string>contrite</string>
<string>contrition</string>
<string>contrive</string>
<string>conundrum</string>
<string>convivial</string>
<string>convoluted</string>
<string>copious</string>
<string>cornucopia</string>
<string>corollary</string>
<string>corroborate</string>
<string>cosmopolitan</string>
<string>cosseted</string>
<string>coterminous</string>
<string>countermand</string>
<string>cow</string>
<string>craven</string>
<string>credence</string>
<string>creditable</string>
<string>credulity</string>
<string>crestfallen</string>
<string>cryptic</string>
<string>crystallize</string>
<string>culminate</string>
<string>culpability</string>
<string>cumbersome</string>
<string>cupidity</string>
<string>curmudgeon</string>
<string>dearth</string>
<string>debase</string>
<string>debonair</string>
<string>debunk</string>
<string>decimation</string>
<string>decorous</string>
<string>decorum</string>
<string>decry</string>
<string>deferential</string>
<string>defray</string>
<string>degrade</string>
<string>deign</string>
<string>delegate</string>
<string>deleterious</string>
<string>deliberate</string>
<string>delineate</string>
<string>demean</string>
<string>demonstrative</string>
<string>demur</string>
<string>demure</string>
<string>denigrate</string>
<string>denote</string>
<string>denouement</string>
<string>derelict</string>
<string>deride</string>
<string>derisive</string>
<string>derivative</string>
<string>derive</string>
<string>derogative</string>
<string>desecrate</string>
<string>desiccated</string>
<string>desideratum</string>
<string>despite</string>
<string>despot</string>
<string>destitute</string>
<string>deter</string>
<string>detrimental</string>
<string>devolve</string>
<string>diabolical</string>
<string>diatribe</string>
<string>dictatorial</string>
<string>didactic</string>
<string>differentiate</string>
<string>diffident</string>
<string>dilapidated</string>
<string>dilatory</string>
<string>dilettante</string>
<string>diligent</string>
<string>diminutive</string>
<string>disabuse</string>
<string>disaffected</string>
<string>discord</string>
<string>discreet</string>
<string>discrete</string>
<string>discriminate</string>
<string>discursive</string>
<string>disenfranchise</string>
<string>disheartened</string>
<string>disingenuous</string>
<string>disinterested</string>
<string>disparate</string>
<string>dispassionate</string>
<string>dispatch</string>
<string>dispensation</string>
<string>dissemble</string>
<string>disseminate</string>
<string>dissipate</string>
<string>dissolution</string>
<string>docile</string>
<string>dog</string>
<string>dogmatic</string>
<string>doleful</string>
<string>dolorous</string>
<string>doughty</string>
<string>dovetail</string>
<string>dupe</string>
<string>duplicity</string>
<string>duress</string>
<string>ebullient</string>
<string>eccentric</string>
<string>eclectic</string>
<string>economical</string>
<string>edifying</string>
<string>effervescent</string>
<string>efficacious</string>
<string>effrontery</string>
<string>egotist</string>
<string>egregious</string>
<string>eke</string>
<string>elaborate</string>
<string>elegiac</string>
<string>elicit</string>
<string>elicit</string>
<string>elucidate</string>
<string>elude</string>
<string>elusive</string>
<string>embellish</string>
<string>embroiled</string>
<string>eminent</string>
<string>empathetic</string>
<string>empiricism</string>
<string>emulate</string>
<string>enamor</string>
<string>encumber</string>
<string>endemic</string>
<string>enervate</string>
<string>engender</string>
<string>enjoin</string>
<string>enmity</string>
<string>enormity</string>
<string>enthrall</string>
<string>entice</string>
<string>entrenched</string>
<string>enumerate</string>
<string>ephemeral</string>
<string>epigram</string>
<string>epiphany</string>
<string>eponym</string>
<string>equitable</string>
<string>equivocal</string>
<string>equivocate</string>
<string>eradicate</string>
<string>err</string>
<string>errant</string>
<string>erratic</string>
<string>ersatz</string>
<string>erudite</string>
<string>eschew</string>
<string>esoteric</string>
<string>espouse</string>
<string>estimable</string>
<string>ethereal</string>
<string>euphoria</string>
<string>evanescent</string>
<string>evasive</string>
<string>evenhanded</string>
<string>exacerbate</string>
<string>exacting</string>
<string>exalt</string>
<string>exasperate</string>
<string>excoriate</string>
<string>excruciating</string>
<string>execrate</string>
<string>exegesis</string>
<string>exemplar</string>
<string>exemplify</string>
<string>exhort</string>
<string>exiguity</string>
<string>exorbitant</string>
<string>expansive</string>
<string>expound</string>
<string>expound</string>
<string>expunge</string>
<string>expurgate</string>
<string>extant</string>
<string>extenuating</string>
<string>extrapolate</string>
<string>facetious</string>
<string>facile</string>
<string>factious</string>
<string>factitious</string>
<string>fallacious</string>
<string>fastidious</string>
<string>fawn</string>
<string>feckless</string>
<string>fecund</string>
<string>fell</string>
<string>ferret</string>
<string>fete</string>
<string>fickle</string>
<string>finagle</string>
<string>firebrand</string>
<string>flag</string>
<string>fledgling</string>
<string>fleece</string>
<string>flippant</string>
<string>flounder</string>
<string>flummox</string>
<string>flush</string>
<string>flux</string>
<string>foible</string>
<string>foment</string>
<string>foolhardy</string>
<string>forlorn</string>
<string>forthcoming</string>
<string>forthright</string>
<string>fortuitous</string>
<string>fractious</string>
<string>frivolous</string>
<string>frugal</string>
<string>frustrate</string>
<string>furtive</string>
<string>futile</string>
<string>gaffe</string>
<string>gainsay</string>
<string>gall</string>
<string>galvanize</string>
<string>gambit</string>
<string>garrulous</string>
<string>gauche</string>
<string>genial</string>
<string>genteel</string>
<string>germane</string>
<string>gerrymander</string>
<string>glean</string>
<string>glib</string>
<string>glut</string>
<string>goad</string>
<string>gossamer</string>
<string>graft</string>
<string>grandiloquent</string>
<string>gregarious</string>
<string>grovel</string>
<string>guffaw</string>
<string>guileless</string>
<string>gumption</string>
<string>hackneyed</string>
<string>hagiographic</string>
<string>hail</string>
<string>halcyon</string>
<string>hamper</string>
<string>hamstrung</string>
<string>hamstrung</string>
<string>haphazard</string>
<string>harangue</string>
<string>harried</string>
<string>haughty</string>
<string>hauteur</string>
<string>hector</string>
<string>hedge</string>
<string>hegemony</string>
<string>heretic</string>
<string>heyday</string>
<string>histrionic</string>
<string>hoary</string>
<string>hobble</string>
<string>hodgepodge</string>
<string>hoodwink</string>
<string>hound</string>
<string>hubris</string>
<string>humdrum</string>
<string>iconoclast</string>
<string>iconoclastic</string>
<string>idiosyncrasy</string>
<string>ignoble</string>
<string>ignominious</string>
<string>illicit</string>
<string>illustrious</string>
<string>imbibe</string>
<string>imbroglio</string>
<string>immaterial</string>
<string>immure</string>
<string>immutable</string>
<string>impartial</string>
<string>impeccable</string>
<string>impecunious</string>
<string>impede</string>
<string>impending</string>
<string>imperious</string>
<string>impermeable</string>
<string>impertinent</string>
<string>impervious</string>
<string>impetuous</string>
<string>implacable</string>
<string>implausible</string>
<string>implicate</string>
<string>implicate</string>
<string>imponderable</string>
<string>importuned</string>
<string>impregnable</string>
<string>improvident</string>
<string>imprudent</string>
<string>impudent</string>
<string>impugn</string>
<string>impute</string>
<string>inadvertent</string>
<string>inanity</string>
<string>inarticulate</string>
<string>incense</string>
<string>incessant</string>
<string>inchoate</string>
<string>incisive</string>
<string>inclement</string>
<string>incongruous</string>
<string>incontrovertible</string>
<string>incorrigible</string>
<string>incumbent</string>
<string>indecorous</string>
<string>indict</string>
<string>indifference</string>
<string>indigenous</string>
<string>indigent</string>
<string>indignant</string>
<string>industrious</string>
<string>ineffable</string>
<string>ineluctable</string>
<string>inequity</string>
<string>inexorable</string>
<string>infelicitous</string>
<string>inflammatory</string>
<string>ingenuity</string>
<string>ingenuous</string>
<string>inimical</string>
<string>inimitable</string>
<string>inkling</string>
<string>innocuous</string>
<string>inscrutable</string>
<string>insidious</string>
<string>insipid</string>
<string>insolent</string>
<string>insolvent</string>
<string>insouciance</string>
<string>insufferable</string>
<string>intermittent</string>
<string>internecine</string>
<string>intimate</string>
<string>intimation</string>
<string>intransigent</string>
<string>intrepid</string>
<string>inundate</string>
<string>inure</string>
<string>invective</string>
<string>inveterate</string>
<string>invidious</string>
<string>inviolable</string>
<string>inviolate</string>
<string>involved</string>
<string>irascible</string>
<string>irk</string>
<string>irrefutable</string>
<string>irresolute</string>
<string>irrevocable</string>
<string>itinerant</string>
<string>jargon</string>
<string>jaundice</string>
<string>jejune</string>
<string>jingoism</string>
<string>jingoist</string>
<string>jocular</string>
<string>jocular</string>
<string>jovial</string>
<string>jubilant</string>
<string>juggernaut</string>
<string>junta</string>
<string>juxtapose</string>
<string>kowtow</string>
<string>label</string>
<string>laborious</string>
<string>lacerate</string>
<string>lachrymose</string>
<string>laconic</string>
<string>lambast</string>
<string>lampoon</string>
<string>languid</string>
<string>languish</string>
<string>largess</string>
<string>lascivious</string>
<string>laudable</string>
<string>leery</string>
<string>lethargic</string>
<string>limpid</string>
<string>lionize</string>
<string>litany</string>
<string>loath</string>
<string>lucid</string>
<string>lugubrious</string>
<string>macabre</string>
<string>machinate</string>
<string>magisterial</string>
<string>magnanimous</string>
<string>maintain</string>
<string>maladroit</string>
<string>malady</string>
<string>malapropism</string>
<string>malevolent</string>
<string>malfeasance</string>
<string>malingerer</string>
<string>malleable</string>
<string>malodorous</string>
<string>martial</string>
<string>martinet</string>
<string>maudlin</string>
<string>maunder</string>
<string>maverick</string>
<string>mawkish</string>
<string>maxim</string>
<string>meander</string>
<string>melancholy</string>
<string>melee</string>
<string>mellifluous</string>
<string>mendacity</string>
<string>mendicant</string>
<string>mercurial</string>
<string>mesmerize</string>
<string>meteoric</string>
<string>meticulous</string>
<string>mettlesome</string>
<string>mettlesome</string>
<string>misanthrope</string>
<string>misattribute</string>
<string>misconstrue</string>
<string>miscreant</string>
<string>miser</string>
<string>misogynist</string>
<string>mitigate</string>
<string>modicum</string>
<string>mollify</string>
<string>moment</string>
<string>moot</string>
<string>mordant</string>
<string>moribund</string>
<string>morose</string>
<string>morph</string>
<string>mulct</string>
<string>mundane</string>
<string>munificent</string>
<string>muted</string>
<string>myopic</string>
<string>myriad</string>
<string>nadir</string>
<string>negligible</string>
<string>nettlesome</string>
<string>noisome</string>
<string>nonchalant</string>
<string>nonplussed</string>
<string>nuance</string>
<string>nuance</string>
<string>obdurate</string>
<string>objurgate</string>
<string>obliging</string>
<string>oblique</string>
<string>obscure</string>
<string>obsequious</string>
<string>obstinate</string>
<string>obstreperous</string>
<string>obtain</string>
<string>obtuse</string>
<string>officious</string>
<string>opaque</string>
<string>opulence</string>
<string>ornate</string>
<string>ossify</string>
<string>ostentatious</string>
<string>ostracize</string>
<string>overweening</string>
<string>palatable</string>
<string>palaver</string>
<string>palimpsest</string>
<string>panacea</string>
<string>panache</string>
<string>panegyric</string>
<string>paradoxical</string>
<string>paragon</string>
<string>pariah</string>
<string>parochial</string>
<string>parsimonious</string>
<string>parvenu</string>
<string>pastoral</string>
<string>patent</string>
<string>patronize</string>
<string>paucity</string>
<string>pecuniary</string>
<string>pedantic</string>
<string>pedestrian</string>
<string>peevish</string>
<string>pejorative</string>
<string>pellucid</string>
<string>penurious</string>
<string>perceive</string>
<string>percipient</string>
<string>peremptory</string>
<string>perennial</string>
<string>perfidy</string>
<string>perfunctory</string>
<string>peripatetic</string>
<string>pernicious</string>
<string>perpetuate</string>
<string>perquisite</string>
<string>perspicacious</string>
<string>pertinent</string>
<string>perturb</string>
<string>peruse</string>
<string>petulant</string>
<string>phantasmagorical</string>
<string>philistine</string>
<string>phlegmatic</string>
<string>picayune</string>
<string>pillory</string>
<string>pine</string>
<string>pinnacle</string>
<string>piquant</string>
<string>pith</string>
<string>pithy</string>
<string>pittance</string>
<string>placate</string>
<string>placid</string>
<string>platitude</string>
<string>plodding</string>
<string>ploy</string>
<string>plucky</string>
<string>poignant</string>
<string>polemic</string>
<string>Pollyannaish</string>
<string>ponderous</string>
<string>pontificate</string>
<string>portentous</string>
<string>posit</string>
<string>powwow</string>
<string>pragmatic</string>
<string>precarious</string>
<string>precedent</string>
<string>precipitate</string>
<string>precipitous</string>
<string>preclude</string>
<string>precocious</string>
<string>predilection</string>
<string>preempt</string>
<string>preemptive</string>
<string>prescience</string>
<string>presentiment</string>
<string>presumption</string>
<string>presumptuous</string>
<string>prevail</string>
<string>prevaricate</string>
<string>primacy</string>
<string>pristine</string>
<string>probity</string>
<string>prodigal</string>
<string>prodigious</string>
<string>profligate</string>
<string>profuse</string>
<string>profusion</string>
<string>prognostication</string>
<string>prolific</string>
<string>prolixity</string>
<string>promulgate</string>
<string>propitiate</string>
<string>propitious</string>
<string>proponent</string>
<string>prosaic</string>
<string>proscribe</string>
<string>proselytize</string>
<string>protean</string>
<string>provident</string>
<string>provincial</string>
<string>provisional</string>
<string>puerile</string>
<string>pugnacious</string>
<string>puissant</string>
<string>punctilious</string>
<string>pundit</string>
<string>pyrrhic</string>
<string>quail</string>
<string>qualify</string>
<string>qualm</string>
<string>quandary</string>
<string>querulous</string>
<string>quip</string>
<string>quisling</string>
<string>quixotic</string>
<string>quotidian</string>
<string>raconteur</string>
<string>raffish</string>
<string>raft</string>
<string>raillery</string>
<string>rakish</string>
<string>rankle</string>
<string>rapprochement</string>
<string>rarefied</string>
<string>rash</string>
<string>ravenous</string>
<string>rebuke</string>
<string>recapitulation</string>
<string>reconcile</string>
<string>recondite</string>
<string>recrimination</string>
<string>recrudesce</string>
<string>redoubtable</string>
<string>redress</string>
<string>refractory</string>
<string>refute</string>
<string>register</string>
<string>relegate</string>
<string>relevant</string>
<string>remiss</string>
<string>remonstrate</string>
<string>renege</string>
<string>replete</string>
<string>replete</string>
<string>reprisal</string>
<string>reproach</string>
<string>reprobate</string>
<string>repudiate</string>
<string>rescind</string>
<string>reservation</string>
<string>resignation</string>
<string>resolve</string>
<string>resource</string>
<string>respite</string>
<string>restive</string>
<string>resurgent</string>
<string>reticent</string>
<string>retiring</string>
<string>retract</string>
<string>reverent</string>
<string>ribald</string>
<string>rile</string>
<string>robust</string>
<string>row</string>
<string>rudimentary</string>
<string>rustic</string>
<string>sagacious</string>
<string>sanctimonious</string>
<string>sanction</string>
<string>sangfroid</string>
<string>sanguine</string>
<string>sardonic</string>
<string>sartorial</string>
<string>saturnine</string>
<string>savvy</string>
<string>schadenfreude</string>
<string>scintillating</string>
<string>screed</string>
<string>scrupulous</string>
<string>sedulous</string>
<string>self-effacing</string>
<string>semblance</string>
<string>sententious</string>
<string>sentimental</string>
<string>serendipity</string>
<string>serene</string>
<string>simulacrum</string>
<string>sinecure</string>
<string>slapdash</string>
<string>smattering</string>
<string>smug</string>
<string>snide</string>
<string>snub</string>
<string>solecism</string>
<string>solicitous</string>
<string>solicitude</string>
<string>soporific</string>
<string>sordid</string>
<string>spartan</string>
<string>specious</string>
<string>spendthrift</string>
<string>splenetic</string>
<string>sporadic</string>
<string>spurious</string>
<string>spurn</string>
<string>squander</string>
<string>squelch</string>
<string>staid</string>
<string>stalwart</string>
<string>start</string>
<string>staunch</string>
<string>steadfast</string>
<string>stem</string>
<string>stipend</string>
<string>stolid</string>
<string>stringent</string>
<string>stultify</string>
<string>stymie</string>
<string>subsume</string>
<string>subterfuge</string>
<string>subversive</string>
<string>sullen</string>
<string>summit</string>
<string>supercilious</string>
<string>superfluous</string>
<string>supplant</string>
<string>surfeit</string>
<string>surly</string>
<string>surreptitious</string>
<string>sybarite</string>
<string>sycophant</string>
<string>taciturn</string>
<string>tact</string>
<string>tantamount</string>
<string>tarnish</string>
<string>tawdry</string>
<string>taxing</string>
<string>telling</string>
<string>telltale</string>
<string>temerity</string>
<string>temperance</string>
<string>tempered</string>
<string>tempestuous</string>
<string>tenacious</string>
<string>tenacious</string>
<string>tendentious</string>
<string>tender</string>
<string>ingratiate</string>
<string>thoroughgoing</string>
<string>thrifty</string>
<string>thwart</string>
<string>timorous</string>
<string>tirade</string>
<string>exonerate</string>
<string>torpor</string>
<string>tortuous</string>
<string>tout</string>
<string>tractable</string>
<string>transient</string>
<string>transitory</string>
<string>transmute</string>
<string>travail</string>
<string>travesty</string>
<string>treacherous</string>
<string>trenchant</string>
<string>tribulation</string>
<string>trite</string>
<string>truculence</string>
<string>truculent</string>
<string>truncate</string>
<string>tumult</string>
<string>turgid</string>
<string>turpitude</string>
<string>tyro</string>
<string>umbrage</string>
<string>unassailable</string>
<string>uncanny</string>
<string>uncompromising</string>
<string>unconscionable</string>
<string>undermine</string>
<string>underscore</string>
<string>underwrite</string>
<string>unequivocal</string>
<string>unflappable</string>
<string>unforthcoming</string>
<string>unimpeachable</string>
<string>unnerve</string>
<string>unprecedented</string>
<string>unprepossessing</string>
<string>unpropitious</string>
<string>unruly</string>
<string>unscrupulous</string>
<string>unseemly</string>
<string>unstinting</string>
<string>untenable</string>
<string>untoward</string>
<string>untrammeled</string>
<string>unviable</string>
<string>upbraid</string>
<string>urbane</string>
<string>vacillate</string>
<string>vacuous</string>
<string>vanquish</string>
<string>variance</string>
<string>vaunted</string>
<string>vehement</string>
<string>venality</string>
<string>veneer</string>
<string>venerate</string>
<string>venial</string>
<string>veracious</string>
<string>verisimilitude</string>
<string>veritable</string>
<string>vicarious</string>
<string>vicissitude</string>
<string>vie</string>
<string>vilify</string>
<string>vindicate</string>
<string>vindictive</string>
<string>virago</string>
<string>vitriol</string>
<string>vitriolic</string>
<string>vituperate</string>
<string>vociferous</string>
<string>volubility</string>
<string>voracious</string>
<string>wanting</string>
<string>wanton</string>
<string>wax</string>
<string>whimsical</string>
<string>winsome</string>
<string>zeitgeist</string>
<string>zenith</string>
</array>
</plist>
